body
{
 color:aqua;
 text-align: center;
<<<<<<< HEAD
 font-family: Arial;
}
#cabecera
{
    background-color: red;
    padding: 0.5em;
    font-size: 45px;
=======
 font-family: 'Lucida Sans';
>>>>>>> clase16
}